@tailwind base;
@tailwind components;
@tailwind utilities;

.btn:hover {
  background-color: #a855f7;
  color: white;
  box-shadow: 0 0 50px #a855f7, 0 0 100px #a855f7;
}

.sp1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #a855f7);
  animation: sp1 1s linear infinite;
}
@keyframes sp1 {
  0% {
    left: -100;
  }
  50%,
  100% {
    left: 100%;
  }
}

.sp2 {
  right: 0;
  top: -100%;
  width: 3px;
  height: 100%;
  background: linear-gradient(90deg, transparent, #a855f7);
  animation: sp2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes sp2 {
  0% {
    top: -100;
  }
  50%,
  100% {
    top: 100%;
  }
}

.sp3 {
  bottom: 0;
  right: -100%;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, transparent, #a855f7);
  animation: sp3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes sp3 {
  0% {
    right: -100;
  }
  50%,
  100% {
    right: 100%;
  }
}

.sp4 {
  left: 0;
  bottom: -100%;
  width: 3px;
  height: 100%;
  background: linear-gradient(90deg, transparent, #a855f7);
  animation: sp4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes sp4 {
  0% {
    bottom: -100;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

#img {
  box-shadow: 0 0 25px #a855f7, 0 0 50px #a855f7, 0 0 80px #a855f7;
}

#img2 {
  box-shadow: 0 0 25px #7335ae, 0 0 50px #7403de;
}

.icon:hover {
  box-shadow: 0 0 25px cyan;
}

#learn:hover {
  box-shadow: 0 0 50px cyan;
}

#card {
  box-shadow: 0 0 5px rgb(113, 203, 151);
}

#submit {
  box-shadow: 0 0 50px cyan;
}
